force-app/main/default/flows/Create_an_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Agriculture</name>
        <choiceText>Agriculture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agriculture</stringValue>
        </value>
    </choices>
    <choices>
        <name>Apparel</name>
        <choiceText>Apparel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Apparel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Banking</name>
        <choiceText>Banking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Banking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Biotechnology</name>
        <choiceText>Biotechnology</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biotechnology</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chemicals</name>
        <choiceText>Chemicals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chemicals</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cold</name>
        <choiceText>Cold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Communications</name>
        <choiceText>&lt;br&gt;&lt;p&gt;Communications&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Communications</stringValue>
        </value>
    </choices>
    <choices>
        <name>Construction</name>
        <choiceText>Construction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Construction</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consulting</name>
        <choiceText>Consulting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consulting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Education</name>
        <choiceText>Education</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Education</stringValue>
        </value>
    </choices>
    <choices>
        <name>Electronics</name>
        <choiceText>Electronics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electronics</stringValue>
        </value>
    </choices>
    <choices>
        <name>Energy</name>
        <choiceText>Energy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Energy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Engineering</name>
        <choiceText>Engineering</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Engineering</stringValue>
        </value>
    </choices>
    <choices>
        <name>Entertainment</name>
        <choiceText>Entertainment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Entertainment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Environmental</name>
        <choiceText>Environmental</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Environmental</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finance</name>
        <choiceText>Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Food_Beverage</name>
        <choiceText>Food &amp; Beverage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Food &amp; Beverage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Government</name>
        <choiceText>Government</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Government</stringValue>
        </value>
    </choices>
    <choices>
        <name>Healthcare</name>
        <choiceText>Healthcare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Healthcare</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hospitality</name>
        <choiceText>Hospitality</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hospitality</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hot</name>
        <choiceText>Hot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hot</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insurance</name>
        <choiceText>Insurance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Machinery</name>
        <choiceText>Machinery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Machinery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manufacturing</name>
        <choiceText>Manufacturing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manufacturing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Media</name>
        <choiceText>Media</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Media</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_For_Profit</name>
        <choiceText>Not For Profit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not For Profit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recreation</name>
        <choiceText>Recreation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recreation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retail</name>
        <choiceText>Retail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retry</name>
        <choiceText>Retry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retry</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping</name>
        <choiceText>Shipping</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technology</name>
        <choiceText>Technology</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technology</stringValue>
        </value>
    </choices>
    <choices>
        <name>Telecommunications</name>
        <choiceText>Telecommunications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telecommunications</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transportation</name>
        <choiceText>Transportation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transportation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Utilities</name>
        <choiceText>Utilities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Utilities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Warm</name>
        <choiceText>Warm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Warm</stringValue>
        </value>
    </choices>
    <decisions>
        <name>X040_Decision_Retry_or_Cancel</name>
        <label>040 Decision Retry or Cancel</label>
        <locationX>572</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>retryDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retry_or_Cancel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Retry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>X010_Screen_Create_Account</targetReference>
            </connector>
            <label>Retry</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create an Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create an Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>X020_Create_Account</name>
        <label>020 Create Account</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>X030_Screen_Success_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>X030_Screen_Account_Creation_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>Annual_Revenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Billing_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Billing_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Billing_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Billing_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Billing_Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>Number_of_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>Rating</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>X010_Screen_Create_Account</name>
        <label>010 Screen Create Account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>X020_Create_Account</targetReference>
        </connector>
        <fields>
            <name>X010_Screen_Create_Account_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>X010_Screen_Create_Account_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Annual_Revenue</name>
                    <dataType>Currency</dataType>
                    <fieldText>Annual Revenue</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Annual Revenue cannot be negative.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Annual_Revenue} &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Number_of_Employees</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Employees</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;You cannot have a negative number of employees,&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Number_of_Employees} &gt;= 0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>X010_Screen_Create_Account_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rating</name>
                    <choiceReferences>Cold</choiceReferences>
                    <choiceReferences>Warm</choiceReferences>
                    <choiceReferences>Hot</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Rating</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Industry</name>
                    <choiceReferences>Agriculture</choiceReferences>
                    <choiceReferences>Apparel</choiceReferences>
                    <choiceReferences>Banking</choiceReferences>
                    <choiceReferences>Biotechnology</choiceReferences>
                    <choiceReferences>Chemicals</choiceReferences>
                    <choiceReferences>Communications</choiceReferences>
                    <choiceReferences>Construction</choiceReferences>
                    <choiceReferences>Consulting</choiceReferences>
                    <choiceReferences>Education</choiceReferences>
                    <choiceReferences>Electronics</choiceReferences>
                    <choiceReferences>Energy</choiceReferences>
                    <choiceReferences>Engineering</choiceReferences>
                    <choiceReferences>Entertainment</choiceReferences>
                    <choiceReferences>Environmental</choiceReferences>
                    <choiceReferences>Finance</choiceReferences>
                    <choiceReferences>Food_Beverage</choiceReferences>
                    <choiceReferences>Government</choiceReferences>
                    <choiceReferences>Healthcare</choiceReferences>
                    <choiceReferences>Hospitality</choiceReferences>
                    <choiceReferences>Insurance</choiceReferences>
                    <choiceReferences>Machinery</choiceReferences>
                    <choiceReferences>Manufacturing</choiceReferences>
                    <choiceReferences>Media</choiceReferences>
                    <choiceReferences>Not_For_Profit</choiceReferences>
                    <choiceReferences>Recreation</choiceReferences>
                    <choiceReferences>Retail</choiceReferences>
                    <choiceReferences>Shipping</choiceReferences>
                    <choiceReferences>Technology</choiceReferences>
                    <choiceReferences>Telecommunications</choiceReferences>
                    <choiceReferences>Transportation</choiceReferences>
                    <choiceReferences>Utilities</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Industry</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Billing_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X030_Screen_Account_Creation_Error</name>
        <label>030 Screen Account Creation Error</label>
        <locationX>572</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>X040_Decision_Retry_or_Cancel</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Unfortunately, the Account was not successfuly created: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Retry_or_Cancel</name>
            <choiceReferences>Retry</choiceReferences>
            <choiceReferences>Cancel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Retry or Cancel?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X030_Screen_Success_Confirmation</name>
        <label>030 Screen Success Confirmation</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;The Account was successfully created!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X010_Screen_Create_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
