force-app/main/default/flows/Delete_an_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retry</name>
        <choiceText>Retry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retry</stringValue>
        </value>
    </choices>
    <decisions>
        <name>X050_Decision_Retry_or_Cancel</name>
        <label>050 Decision Retry or Cancel</label>
        <locationX>572</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>retryDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>retryOrCancel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Retry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>X020_Screen_Delete_Account</targetReference>
            </connector>
            <label>Retry</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>accounts</name>
        <collectionReference>X010_Get_Accounts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Delete an Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete an Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>X030_Delete_Account</name>
        <label>030 Delete Account</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>X040_Screen_Delete_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>X040_Screen_Delete_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accounts</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordDeletes>
    <recordLookups>
        <name>X010_Get_Accounts</name>
        <label>010 Get Accounts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X020_Screen_Delete_Account</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>X020_Screen_Delete_Account</name>
        <label>020 Screen Delete Account</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>X030_Delete_Account</targetReference>
        </connector>
        <fields>
            <name>deleteDisplayText</name>
            <fieldText>&lt;p&gt;Select an Account to Delete&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>accountToDeleteList</name>
            <choiceReferences>accounts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Accounts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X040_Screen_Delete_Fault</name>
        <label>040 Screen Delete Fault</label>
        <locationX>572</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>X050_Decision_Retry_or_Cancel</targetReference>
        </connector>
        <fields>
            <name>faultText</name>
            <fieldText>&lt;p&gt;Unfortunately, the Account could not be successfully deleted: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X040_Screen_Delete_Fault_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>X040_Screen_Delete_Fault_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>retryOrCancel</name>
                    <choiceReferences>Retry</choiceReferences>
                    <choiceReferences>Cancel</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Retry or Cancel?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X040_Screen_Delete_Success</name>
        <label>040 Screen Delete Success</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successText</name>
            <fieldText>&lt;p&gt;You have successfully deleted the Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X010_Get_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
